---
const { title, subtitle } = Astro.props;
---

<div class="flex timeline px-2 rounded hover:shadow-lg ease-in-out transition-all">
  <div class="education__time">
    <span class="education__point w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>

<style>
  .timeline:hover .education__time .education__point {
    transform: scale(1.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
</style>
