---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      I'm a former Civil Engineering student who's always had a knack for problem-solving, particularly in math and physics. When the pandemic hit, I discovered my passion for teaching online. I tutored university-level subjects and even created a web app to manage my classes. Today, I work as a software engineer at the same company where I started tutoring.
    </p>
    <p>
      Most of what I know, I've learned on my own, and I'm hungry for new challenges. Right now, I'm diving into data science and planning to kick off a bachelor's degree in the field in October 2023. I'm all about seizing opportunities to learn and grow.</p>
    </p>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Civil Engineering"
      subtitle="2017 to 2021 at Univesidad de Buenos Aires (UBA), Buenos Aires, Argentina"
    />
    <TimeLineElement
      title="Full Stack Web Development"
      subtitle="2022 at Digital House, Buenos Aires, Argentina"
    />
    <TimeLineElement
      title="Data Science Bachelor"
      subtitle="Beggining oct 2023 at IU of Applied Sciences, Germany"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Onlne Tutor"
      subtitle="From 2020 to 2022 at Academia Universitaria Paraninfo, Madrid, Spain"
    >
      Taught several subjects at the university level, including Calculus, Algebra, Physics, Statistics, Probability, Solid Mechanics, and Fluid Mechanics.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From aug 2022 to present day at Academia Universitaria Paraninfo, Madrid, Spain"
    >
      Created custom tailored solutions for the company, including web applications to manage internal processes, students and teacher's data, and online classes scheduling and management.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="/documents/dh-certificate.pdf" target="_blank">Full Stack Developer at Digital House</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Stack</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>React</li>
    <li>Astro</li>
    <li>Firebase</li>
    <li>Tailwind</li>
    <li>GAS</li>
    <li>Express</li>
    <li>Node</li>
    <li>Python</li>
    <li>Mathcad</li>
    <li>Matlab</li>
    <li>Octave</li>
  </ul>

  
  <div class="my-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Advanced Calculus</li>
    <li>Linear Algebra</li>
    <li>Physics</li>
    <li>Statistics</li>
    <li>Probability</li>
  </ul>

  <div class="my-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish</li>
    <li>English</li>
    <li>German</li>
  </ul>


</BaseLayout>
