---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1 opacity-50">Hey there 👋 I'm</div>
    <div class="text-5xl font-bold">Ignacio Geoghegan</div>
    <div class="text-3xl py-3 font-bold opacity-75">Full Stack Developer - Data Science Student</div>
    <div class="py-2">
      <text class="text-lg text-center sm:text-start">
        <p>
          Currently working as a Software Engineer at{" "}
        <a href="https://academiauniversitaria.paraninfo.com/" target="_blank" class="text-blue-500 block my-1 sm:inline">
          Academia Universitaria Paraninfo
        </a>
        </p>
        <p>
          Also a Data Science student at{" "}
        <a href="https://www.iu.org/en-za/bachelor/data-science/" target="_blank" class="text-blue-500 block my-1 sm:inline">
          Int. University of Applied Sciences (<b>IU</b>)
        </a>
        </p>
      </text>
    </div>
    <div class="mt-4 w-full flex justify-around sm:mt-8 sm:justify-normal">
      <a class="btn" href="mailto:ignaciog00@gmail.com?subject=Let's%20connect&body=Hi,%20I%20came%20here%20from%20your%20personal%20site." target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
