---
import { getCollection } from "astro:content";
import HorizontalCard from "../HorizontalCard.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const last_posts = posts.slice(0, 3);
---

<div>
  <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
</div>

{
  last_posts.map((post) => (
    <>
      <HorizontalCard
        title={post.data.title}
        img={post.data.heroImage}
        desc={post.data.description}
        url={"/blog/" + post.slug}
        target="_self"
        badge={post.data.badge}
      />
      <div class="divider my-0" />
    </>
  ))
}
