---
import HorizontalCard from "../HorizontalCard.astro";
---

<div>
  <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
</div>

<HorizontalCard
  title="Particles System"
  img="/thumbnails/projects/particles-system.png"
  desc="Vanilla javascript particles system exploration. Based on Frank Laboratory's youtube videos."
  url="https://nachog00.github.io/particles_system-pckg/"
  badge="NEW"
/>
<!-- <div class="divider my-0"></div>
<HorizontalCard
  title="Demo Project 2"
  img="/post_img.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="#"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Demo Project 3"
  img="/post_img.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="#"
  badge="FOSS"
/> -->
