---
import HorizontalCard from "../HorizontalCard.astro";
---

<div>
  <div class="text-3xl w-full font-bold mb-2">
    <span>My latest projects</span>
    <svg
    class="inline-block ml-2"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      style="fill: currentColor;transform: ;msFilter:;"
      ><path
        d="m7.375 16.781 1.25-1.562L4.601 12l4.024-3.219-1.25-1.562-5 4a1 1 0 0 0 0 1.562l5 4zm9.25-9.562-1.25 1.562L19.399 12l-4.024 3.219 1.25 1.562 5-4a1 1 0 0 0 0-1.562l-5-4zm-1.649-4.003-4 18-1.953-.434 4-18z"
      ></path></svg
    >
  </div>
</div>

<HorizontalCard
  title="Particles System"
  img="/thumbnails/projects/particles-system.png"
  desc="Vanilla javascript particles system exploration. Based on Frank Laboratory's youtube videos."
  url="https://nachog00.github.io/particles_system-pckg/"
  badge="NEW"
/>
<!-- <div class="divider my-0"></div>
<HorizontalCard
  title="Demo Project 2"
  img="/post_img.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="#"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Demo Project 3"
  img="/post_img.webp"
  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  url="#"
  badge="FOSS"
/> -->
